{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        Financial App
        {% endblock %}
    </title>
    {% tailwind_css %}

    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
    </script>
</head>
<body 
    dir='rtl' style='background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);min-height: 100vh;'
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    >
    {% include "partial/header.html" %}
    {% block content %}
    
    {% endblock  %}
</body>
</html>