{% extends 'base.html' %}  
{% load static %}
{% block content %}  

{% if user.is_authenticated %}
<main id="home">
  <div class="relative isolate overflow-hidden pt-16">

    <!-- Stats -->
    <div class="border-b border-b-gray-900/10 lg:border-t lg:border-t-gray-900/5">
      <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0">
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-4 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">عضویت از</dt>
          <dd class="w-full flex-none text-lg font-medium leading-10 tracking-tight text-gray-900">{{user.persian_date_joined}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-4 sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500">نام</dt>
          <dd class="w-full flex-none text-lg font-medium leading-10 tracking-tight text-gray-900">{{user.first_name}} {{user.last_name}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-4 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">ایمیل</dt>
          <dd class="w-full flex-none text-lg font-medium leading-10 tracking-tight text-gray-900">{{user.email}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-4 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">خروج از حساب کاربری</dt>
          <dd class="w-full flex-none"><a href="{% url 'logout' %}" class="btn btn-error btn-md">خروج</a></dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="pt-1 flex items-center w-full justify-center gap-8">
    <div class="card w-96">
      <div class="card-body flex justify-center items-start">
        <h2 class="card-title"> تراکنش ها</h2>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        <div class="card-actions justify-center">
          
          <a href="{% url 'transactions' %}" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" /></svg>
            تراکنش ها
          </a>

          <a href="{% url 'transactions-charts' %}" class="btn btn-neutral items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" /><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" /></svg>            
            نمودار ها
          </a>

        </div>
      </div>
    </div>
  </div>
</main>

{% if user.user_type == 'regular' %}
  <a href="{% url 'chat_room' chat_url %}" class="md:w-12 w-16 fixed bottom-32 cursor-pointer">
    <img class="rounded-l-full" src="{% static 'image/chat.png' %}">
  </a>
{% else %}
  <a href="{% url 'chat_list' %}" class="md:w-12 w-16 fixed bottom-32 cursor-pointer">
    <img class="rounded-l-full" src="{% static 'image/chat.png' %}">
  </a>
{% endif %}
  
{% include 'partial/toast.html' %} 

{% else %}
  <p class="text-lg font-medium w-full text-center pt-20 ">برای دیدن تراکنش ها ابتدا وارد شوید</p>
{% endif %}
{% endblock %}  