<div id="forum-container" class="">
    <h2 class='font-medium text-2xl border-b border-gray-300 pb-2 lg:ml-10'>{{forum.name}}</h2>
    <div id="messages" class='flex flex-col gap-2 pt-2'>  
        {% for message in messages %}
            <div class="message">  
                <strong>{{ message.user.first_name }}</strong>: {{ message.message }}
                {% if message.attachment %}
                <br><a href="{{message.attachment.url}}" class='text-primary underline' target="_blank">دیدن فایل پیوست</a>
                {% endif %}
            </div>
        {% endfor %}  
    </div>

    <form id="message-form" method="POST" enctype="multipart/form-data" hx-post="{% url 'forum_message' forum.name %}" hx-target="#messages" hx-swap="beforeend" class="flex flex-col gap-2 p-4 fixed bottom-0">  
        {% csrf_token %}  
        <input type="file" id='form-file' name="attachment" class="file-input file-input-bordered" accept="*/*"/>
        <div class='flex gap-2'>
            <textarea name="message" id='form-message' required class="input input-bordered" placeholder="پیام را بنویسید"></textarea>  
            <button class="btn btn-primary" type="submit">ارسال</button>  
        </div>
    </form>  
</div>

<script>  
    const forumName = "{{ forum.name }}";  
    const chatSocket = new WebSocket(  
        'ws://' + window.location.host + '/ws/forum/' + forumName + '/'  
    );  

    chatSocket.onmessage = function(e) {  
        const data = JSON.parse(e.data);  
        const messagesDiv = document.getElementById('messages');  
        var messageHTML =  `<div class="message"><strong>${data.email}</strong>: ${ data.message }</div>`; 
        if (data.attachment) {
            messageHTML += `<a href="${data.attachment}" class='text-primary underline' target="_blank">دیدن فایل پیوست</a>`;  
        }
        messagesDiv.innerHTML += messageHTML
    };  

    chatSocket.onclose = function(e) {  
        console.error('Chat socket closed unexpectedly');  
    };  

    document.getElementById('message-form').addEventListener("submit", (event) => {
        setTimeout(function(){
            document.getElementById('form-message').value = ''
            document.getElementById('form-file').value = ''
        }, 100);
    });
</script>