{% extends 'base.html' %}  
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="flex flex-col justify-center items-center">
        <h2 class="font-medium text-xl pt-20">گفتکو با پشتیبان</h2>
        <div class="px-4 pt-4 md:w-[60%] lg:w-[50%] " id="chat-log">  
            <ul id="messages">  
                {% for message in messages %}  
                    <div class="chat {% if user == message.user %} chat-start {% else %} chat-end {% endif %}">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                                <img {% if message.user.user_type == "support" %} src="{% static 'image/support.png' %}"{% else %} src="{% static 'image/user.png' %}" {% endif %}/>
                            </div>
                        </div>
                        <div class="chat-bubble {% if user == message.user %} chat-bubble-primary {% endif %}">
                            {{message.message}}
                            {% if message.attachment %}
                                <br/>
                                <a href="{{message.attachment.url}}">دیدن فایل پیوست</a>
                            {% endif %}
                        </div>
                    </div>                 
                {% endfor %}  
            </ul>  
        </div>  
        <form hx-post="{% url 'chat_room' room_name %}" hx-target="body" enctype="multipart/form-data" class="flex gap-3 px-4 py-3 w-full fixed bottom-0">
            {% csrf_token %} 
            {% render_field form.attachment class='file-input file-input-bordered' %}
            {% render_field form.message class='input input-md input-bordered' %}
            <button id="send-message" class="btn btn-primary">ارسال</button>
        </form>
    </div>

    <script>  
        const chatSocket = new WebSocket(  
            'ws://' + window.location.host + '/ws/chat/{{ room_name }}/'  
        );  

        const username = "{{ username }}";  
        const supportImage = "/static/image/support.png";
        const userImage = "/static/image/user.png";

        chatSocket.onmessage = function(e) {  
            const data = JSON.parse(e.data);  
            const chatLog = document.getElementById('messages');
            if (username == data.username){
                chatLog.innerHTML += data.user_type=='regular'?`<div class="chat chat-start"><div class="chat-image avatar"><div class="w-10 rounded-full"><img alt="support"src="${userImage}" /></div></div><div class="chat-bubble chat-bubble-primary">${data.message}${data.attachment?`<br/><a href="${data.attachment}">دیدن فایل پیوست</a>`:''}</div></div>`:`<div class="chat chat-start"><div class="chat-image avatar"><div class="w-10 rounded-full"><img alt="support"src="${supportImage}" /></div></div><div class="chat-bubble chat-bubble-primary">${data.message}${data.attachment?`<br/><a href="${data.attachment}">دیدن فایل پیوست</a>`:''}</div></div>`  
            } else {
                chatLog.innerHTML += data.user_type=='regular'?`<div class="chat chat-end"><div class="chat-image avatar"><div class="w-10 rounded-full"><img alt="support"src="${userImage}" /></div></div><div class="chat-bubble">${data.message}${data.attachment?`<br/><a href="${data.attachment}">دیدن فایل پیوست</a>`:''}</div></div>` :`<div class="chat chat-end"><div class="chat-image avatar"><div class="w-10 rounded-full"><img alt="support"src="${supportImage}" /></div></div><div class="chat-bubble">${data.message}${data.attachment?`<br/><a href="${data.attachment}">دیدن فایل پیوست</a>`:''}</div></div>`  
            }
        };

        chatSocket.onclose = function(e) {  
            console.error('Chat socket closed unexpectedly');  
        };  
    </script> 
{% endblock %}